<!--include the templates-->
<head>
    <%- include('partials/head'); %>
</head>

<body class="container">

<header>
    <%- include('partials/header'); %>
</header>

<!--welcome message and image-->
<h1>Hi <%=name%>, welcome to our flight booking site!</h1>
<img src="images/plane.jpg" />

</body>
