<!--a simple register page-->
<h1>Register</h1>
<form action="/register" method="POST">
<!--    form elements below-->
    <div>
        <label for="username">Name</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
<!--    submit to register-->
    <button type="submit">Register</button>
</form>
<!--link back to login page-->
<a href="/login">Login</a>