<!--include the templates-->
<head>
    <%- include('partials/head'); %>
</head>

<body class="container">

<header>
    <%- include('partials/header'); %>
</header>

<!--a simple view points section -->
<h2>
        Your current points balance: <%= points %>
</h2>

</body>